<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.yeriomin.yalpstore"
          android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="com.github.yeriomin.yalpstore.FileProvider"
            android:authorities="com.github.yeriomin.yalpstore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
        <receiver
            android:name="com.github.yeriomin.yalpstore.DownloadBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.github.yeriomin.yalpstore.UpdateChecker"
            android:exported="false">
        </receiver>
        <receiver
            android:name="com.github.yeriomin.yalpstore.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.github.yeriomin.yalpstore.InstalledReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <provider
            android:exported="false"
            android:name=".YalpSuggestionProvider"
            android:authorities="com.github.yeriomin.yalpstore.YalpSuggestionProvider"
            android:enabled="true" />
        <activity android:name=".DetailsActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="market" android:host="details" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="play.google.com" />
                <data android:path="/store/apps/details" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdatableAppsActivity" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity" />
        </activity>
        <activity android:name=".SearchResultActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="market" android:host="search" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="play.google.com" />
                <data android:path="/store/search" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".PreferenceActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".FullscreenImageActivity" />
        <activity android:name=".SimilarAppsActivity" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity" />
        </activity>
        <activity android:name=".UsersAlsoInstalledActivity" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity" />
        </activity>
        <activity android:name=".AboutActivity" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity" />
        </activity>
    </application>

</manifest>
